/*misc*/
/*normalize*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  width: 100%; }

a {
  text-decoration: none;
  color: black; }

textarea {
  min-height: 100px;
  max-height: 200px;
  max-width: 100%;
  min-width: 100%; }

.container-xl {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x) * .5);
  padding-left: calc(var(--bs-gutter-x) * .5);
  margin-right: auto;
  margin-left: auto;
  margin-top: 2.5rem;
  margin-bottom: 1.5rem; }

.h2, h2 {
  font-size: 20px; }

body {
  display: grid;
  grid-auto-rows: auto 1fr auto;
  min-height: 100vh; }

/*variables*/
:root {
  /*colors*/
  --primary:  rgba(138, 135, 135, 0.24);
  --nav-color:  rgb(43, 42, 42);
  --titulo-color: crimson;
  --subtitulo-color: brown;
  --texto-color:   rgb(54, 53, 53);
  /*spacings*/
  --sapacing-large: 6rem;
  --sapacing-medium: 2.4rem;
  --sapacing-small: 2rem;
  /*font-sizes*/
  --text-large: 5.2em;
  --text-medium: 2.4em;
  --text-base: 1.6em;
  --text-small: 1.4em; }

/*mixins*/
/*partials*/
header {
  background-color: rgba(138, 135, 135, 0.24);
  width: 100%;
  padding: 1rem; }
  header nav {
    display: flex;
    height: 80px;
    width: 100%; }
    header nav .containermen {
      display: grid;
      height: 100%;
      width: 90%;
      margin: 0 auto;
      box-sizing: border-box;
      justify-content: end;
      align-items: center; }
      header nav .containermen .logo {
        position: absolute;
        padding: 20px 50px; }
    header nav .checkbtn {
      font-size: 30px;
      color: rgba(19, 18, 18, 0.767);
      float: right;
      line-height: 80px;
      margin-right: 40px;
      cursor: pointer;
      display: none; }
    header nav #check {
      display: none; }
    header nav .menu {
      display: grid;
      grid-auto-flow: column;
      flex-direction: row;
      gap: 1.2rem;
      font-size: 15px;
      padding: 0px;
      list-style-type: none;
      align-items: center;
      margin-bottom: 0;
      float: right;
      margin-right: 20px; }
      header nav .menu .menu-item {
        display: inline-block;
        line-height: 80px;
        margin: 0 5px;
        border: 2px hidden black;
        transition: all 0.5s ease; }
        header nav .menu .menu-item:hover {
          background-color: rgba(243, 94, 94, 0.719);
          padding: 3px 7px;
          border-radius: 7px; }

footer {
  background-color: rgba(138, 135, 135, 0.24);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 20px; }
  footer .footer-redes .footer-iconos-redes {
    display: inline-block;
    order: 2px hidden #9c0e0e; }

/*views*/
.bienvenida {
  text-align: center;
  color: var(--titulo-color); }

.d-block {
  object-fit: cover; }

#Grid {
  display: grid;
  grid-template-areas: "titulo titulo" "img1 texto1" "img2 texto2"; }
  #Grid .nota-titulo {
    grid-area: titulo;
    text-align: center;
    font-size: 30px;
    border-bottom: 2.5px solid brown;
    color: var(--subtitulo-color); }
  #Grid .nota1 {
    grid-area: img1; }
    #Grid .nota1 .nota-imagen {
      grid-area: nota-imagen;
      border: 3px solid black;
      box-sizing: border-box;
      padding: 4px;
      margin: 1rem;
      transition: transform .6s; }
      #Grid .nota1 .nota-imagen:hover {
        transform: scaleX(1.01); }
  #Grid .nota-texto1 {
    grid-area: texto1;
    box-sizing: border-box;
    padding-left: 15px;
    margin: 1rem; }
    #Grid .nota-texto1 .nota-texto-subtitulo1 {
      text-align: center;
      font-size: 25px;
      color: var(--subtitulo-color);
      border-bottom: 1.5px solid brown;
      background-image: linear-gradient(rgba(117, 117, 243, 0.808), lightblue); }
    #Grid .nota-texto1 .nota-texto-contenido1 {
      text-align: center;
      font-size: 15px;
      color: var(--texto-color); }
    #Grid .nota-texto1 .notas-beneficios1 {
      font-size: 15px;
      color: var(--subtitulo-color); }
  #Grid .nota2 {
    grid-area: img2; }
    #Grid .nota2 .nota-imagen2 {
      box-sizing: border-box;
      border: 3px solid black;
      padding: 4px;
      margin: 1rem;
      transition: transform .6s; }
      #Grid .nota2 .nota-imagen2:hover {
        transform: scaleX(1.01); }
  #Grid .nota-texto2 {
    grid-area: texto2;
    font-size: 15px;
    box-sizing: border-box;
    padding-left: 15px;
    margin: 1rem; }
    #Grid .nota-texto2 .nota-texto-subtitulo2 {
      font-size: 25px;
      border-bottom: 1.5px solid brown;
      text-align: center;
      color: var(--subtitulo-color);
      background-image: linear-gradient(rgba(117, 117, 243, 0.808), lightblue); }
    #Grid .nota-texto2 .nota-texto-contenido2 {
      text-align: center;
      font-size: 15px;
      color: var(--texto-color); }
    #Grid .nota-texto2 .nota-beneficios2 {
      font-size: 15px;
      color: var(--texto-color); }

.formulario {
  font-size: 30px;
  text-align: center;
  background-image: url(../Img/Nosotros.jpg);
  background-size: 100vw, 100vh;
  background-attachment: fixed; }
  .formulario .formulario-contenido {
    margin: auto;
    width: 500px;
    font-size: 25px;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 10px 20px;
    box-sizing: border-box;
    border-radius: 10px; }
    .formulario .formulario-contenido .formulario-contenido-input {
      width: 100%;
      margin-bottom: 20px;
      padding: 7px;
      box-sizing: border-box;
      border: none; }
    .formulario .formulario-contenido .formulario-contenido-botones {
      border-radius: 7px;
      background: #8990f3e8;
      font-size: 20px; }

.titulonosotros {
  font-size: 25px;
  text-align: center;
  color: var(--titulo-color);
  border-bottom: 2px solid rgba(177, 175, 175, 0.856); }

#nosotros {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 25px;
  margin: auto;
  position: relative;
  text-align: center;
  width: 100%; }
  #nosotros .nosotros-imagen {
    width: 45%;
    border: 2px solid black;
    text-align: left;
    padding: 4px; }
  #nosotros .nosotros-texto {
    font-size: 25px;
    width: 45%;
    border: 2px hidden black;
    padding: 4px;
    color: var(--texto-color); }

.titulo {
  font-size: 30px;
  color: var(--titulo-color);
  text-align: center; }

#tipsnutri {
  display: grid;
  grid-template-areas: "video formulario";
  padding: 15px;
  margin: 1rem; }
  #tipsnutri .especialista {
    grid-area: video;
    padding: 10px;
    margin: 4px;
    text-align: center;
    box-sizing: border-box;
    font-size: 20px; }
    #tipsnutri .especialista .especialista-titulo {
      color: var(--subtitulo-color);
      border-bottom: 2px solid burlywood; }
    #tipsnutri .especialista .especialista-video {
      width: 400px;
      height: 300px;
      padding: 3px;
      justify-content: center; }
  #tipsnutri .formularionutri {
    font-size: 20px;
    grid-area: formulario;
    margin: 4px;
    padding: 10px;
    box-sizing: border-box; }
    #tipsnutri .formularionutri .formularionutri-contenido {
      margin: auto;
      width: 400px;
      background-color: rgba(0, 0, 0, 0.4);
      padding: 10px 20px;
      box-sizing: content-box;
      border-radius: 10px; }
      #tipsnutri .formularionutri .formularionutri-contenido .formularionutri-contenido-btn {
        border-radius: 7px;
        color: white;
        border: 1px solid black;
        background: rgba(202, 199, 199, 0.2);
        font-size: 15px; }
      #tipsnutri .formularionutri .formularionutri-contenido .formularionutri-contenido-input {
        width: 100%;
        margin-bottom: 20px;
        padding: 7px;
        box-sizing: content-box;
        border: none; }

.sedes {
  display: grid;
  grid-template-areas: "godoycruz ciudad" "lujan maipu";
  font-size: 20px;
  text-align: center; }
  .sedes .box, .sedes .sedes-box1, .sedes .sedes-box2, .sedes .sedes-box3, .sedes .sedes-box4 {
    box-sizing: border-box;
    padding: 15px;
    margin: 1rem;
    border: 2px solid chocolate; }
  .sedes .sedes-box1 {
    grid-area: godoycruz; }
    .sedes .sedes-box1:hover {
      background-color: rgba(243, 94, 94, 0.719);
      padding: 3px 7px;
      border-radius: 7px;
      box-sizing: border-box; }
  .sedes .sedes-box2 {
    grid-area: ciudad; }
    .sedes .sedes-box2:hover {
      background-color: rgba(243, 94, 94, 0.719);
      padding: 3px 7px;
      border-radius: 7px;
      box-sizing: border-box; }
  .sedes .sedes-box3 {
    grid-area: lujan; }
    .sedes .sedes-box3:hover {
      background-color: rgba(243, 94, 94, 0.719);
      padding: 3px 7px;
      border-radius: 7px;
      box-sizing: border-box; }
  .sedes .sedes-box4 {
    grid-area: maipu; }
    .sedes .sedes-box4:hover {
      background-color: rgba(243, 94, 94, 0.719);
      padding: 3px 7px;
      border-radius: 7px;
      box-sizing: border-box; }

.sede-titulo {
  display: flex;
  justify-content: center;
  font-size: 25px;
  color: var(--titulo-color);
  border-bottom: 2px solid slategray; }

#servicios-ofrecidos {
  width: 100%;
  font-size: 20px;
  display: grid;
  grid-template-areas: "crosfit gym" "funcional nutricion" "yoga personalizados";
  box-sizing: border-box;
  justify-content: space-around; }
  #servicios-ofrecidos .servicios-ofrecidos-1 {
    grid-area: crosfit;
    box-sizing: border-box;
    padding: 15px;
    margin: 1rem;
    border: 3px solid black; }
  #servicios-ofrecidos .servicios-ofrecidos-2 {
    grid-area: gym;
    box-sizing: border-box;
    box-sizing: border-box;
    padding: 15px;
    margin: 1rem;
    border: 3px solid black; }
  #servicios-ofrecidos .servicios-ofrecidos-3 {
    grid-area: funcional;
    box-sizing: border-box;
    padding: 15px;
    margin: 1rem;
    border: 3px solid black; }
  #servicios-ofrecidos .servicios-ofrecidos-4 {
    grid-area: nutricion;
    box-sizing: border-box;
    padding: 15px;
    margin: 1rem;
    border: 3px solid black; }
  #servicios-ofrecidos .servicios-ofrecidos-5 {
    grid-area: yoga;
    box-sizing: border-box;
    padding: 15px;
    margin: 1rem;
    border: 3px solid black; }
  #servicios-ofrecidos .servicios-ofrecidos-6 {
    grid-area: personalizados;
    box-sizing: border-box;
    padding: 15px;
    margin: 1rem;
    border: 3px solid black; }
  #servicios-ofrecidos .servicios-ofrecidos-titulo {
    text-align: center;
    font-size: 14px;
    color: var(--subtitulo-color);
    border-bottom: 2px solid brown; }

.servicios-titulo {
  display: flex;
  justify-content: center;
  color: var(--titulo-color);
  border-bottom: 2px solid brown;
  font-size: 30px; }

@media screen and (max-width: 1080px) {
  #tipsnutri {
    display: grid;
    grid-template-areas: "video" "formulario";
    padding: 7px;
    margin: 0.6rem;
    justify-items: start; }
  .especialista {
    grid-area: video;
    padding: 10px;
    margin: 4px;
    text-align: center;
    box-sizing: border-box;
    font-size: 20px;
    width: 100%; }
  .especialista-video {
    width: 100%; }
  .formularionutri {
    font-size: 20px;
    grid-area: formulario;
    margin: 4px;
    padding: 10px;
    box-sizing: border-box; }
  .nosotros-imagen {
    height: 100%; }
  .formulario {
    font-size: 25px;
    text-align: center;
    background-image: url(../Img/Nosotros.jpg);
    background-size: auto;
    background-attachment: fixed;
    width: 100%; }
  .formulario-contenido {
    margin: auto;
    width: 300px;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 10px 20px;
    box-sizing: border-box;
    border-radius: 10px; } }

@media screen and (max-width: 850px) {
  .container-xl {
    margin-top: 5rem; }
  header nav .checkbtn {
    display: block;
    cursor: pointer; }
  header nav .menu {
    position: fixed;
    width: 100%;
    height: 40px;
    top: 100px;
    bottom: 0;
    background: #ced7df;
    width: 100%;
    left: -100%;
    text-align: center;
    transition: all .5s; }
  header nav .menu .menu-item {
    display: block;
    gap: 0.7rem;
    margin: 50 px 0;
    line-height: 30px; }
    header nav .menu .menu-item:hover {
      background: none;
      color: red; }
  #check:checked ~ .menu {
    left: 0; }
  .h2, h2 {
    font-size: 12px; }
  header {
    width: 100%; }
  .servicios-titulo {
    font-size: 12px; }
  .titulonosotros {
    font-size: 15px; }
  #nosotros {
    flex-direction: column;
    gap: 1rem;
    align-items: center; }
  #nosotros .nosotros-texto {
    font-size: 15px; }
  .sedes {
    width: 100%; }
  .sedes .box, .sedes .sedes-box1, .sedes .sedes-box2, .sedes .sedes-box3, .sedes .sedes-box4, .sedes .sedes-box1, .sedes .sedes-box2, .sedes .sedes-box3, .sedes .sedes-box4 {
    width: 100%;
    padding: 2px;
    margin: 5px;
    box-sizing: border-box; }
  .sedes-box-titulos {
    font-size: 5px;
    color: brown; }
  .sede-titulo {
    display: flex;
    justify-content: center;
    font-size: 15px; }
  .sedes {
    font-size: 12px;
    width: 100%;
    gap: 9px; } }

@media screen and (max-width: 500px) {
  footer {
    font-size: 15px; }
  .h2, h2 {
    font-size: 10px; }
  #Grid {
    display: grid;
    grid-template-areas: "titulo" "img1" "texto1" "img2" "texto2"; }
  .nota-titulo {
    grid-area: titulo;
    text-align: center;
    font-size: 30px;
    border-bottom: 2.5px solid brown;
    color: #0a0a0a; }
  .nota {
    grid-area: img1;
    box-sizing: border-box;
    width: 100%; }
  .nota2 {
    grid-area: img2;
    box-sizing: border-box; }
  .nota-texto1 {
    grid-area: texto1;
    box-sizing: border-box;
    padding-left: 15px;
    margin: 1rem; }
  .nota-texto2 {
    grid-area: texto2;
    font-size: 15px;
    box-sizing: border-box;
    padding-left: 15px;
    margin: 1rem; }
  .nota-imagen2 {
    box-sizing: border-box;
    border: 3px solid black;
    padding: 4px;
    margin: 2px;
    width: 300px; }
  .nota-imagen {
    grid-area: nota-imagen;
    border: 3px solid black;
    box-sizing: border-box;
    padding: 4px;
    margin: 2px;
    width: 300px; }
  #tipsnutri .formularionutri .formularionutri-contenido {
    margin: auto;
    width: 250px;
    background-color: rgba(0, 0, 0, 0.4);
    justify-content: start;
    padding: 10px 20px;
    box-sizing: content-box;
    border-radius: 10px; }
  .formulario .formulario-contenido {
    width: 300px; }
  #tipsnutri .especialista .especialista-video {
    width: 250px;
    height: 250px; }
  .formulario .formulario-contenido .formulario-contenido-input {
    font-size: 10px; }
  .formulario .formulario-contenido .formulario-contenido-botones {
    font-size: 10px; } }
