footer{
  background-color: rgba(138, 135, 135, 0.24);
  @include flex(column, center, center);
  width: 100%;
  font-size: 20px;
  .footer-redes .footer-iconos-redes {
    display: inline-block;
    order: 2px hidden #9c0e0e; }
}