.menu{
    display: flex;
    flex-direction: row;
    font-size: 15px;
    padding: 0px;
    list-style-type: none;
    gap: 1.2rem;
    align-items: center;
    margin-bottom: 0; 
    .menu-item{
        border: 2px hidden black;
        transition: all 0.5s ease;
        &:hover{
        background-color: rgba(243, 94, 94, 0.719);
        padding: 3px 7px;
        border-radius: 7px;
        } 
    }
}