@media screen and (max-width: 1080px){
    #tipsnutri {
        display:grid;
        grid-template-areas: 
        "video"
        "formulario";
        padding: 7px;
        margin: 0.6rem;
        justify-items: start;
    } 
    .especialista {
        grid-area: video;
        padding: 10px;
        margin: 4px;
        text-align: center;
        box-sizing: border-box;
        font-size: 20px;
        width: 100%;
    }
    .especialista-video {
        width: 100%;
    }
    .formularionutri {
        font-size: 20px;
        grid-area: formulario;
        margin: 4px;
        padding: 10px;
        box-sizing: border-box;
    }
    .nosotros-imagen{
        height: 100%;
    }
    .formulario{
        font-size: 25px;
        text-align: center;
        background-image: url(../Img/Nosotros.jpg);
        background-size: auto;
        background-attachment: fixed;
        width: 100%;
    }
    .formulario-contenido{
        margin: auto;
        width: 300px;
        background-color: rgba(0, 0, 0, 0.4);
        padding: 10px 20px;
        box-sizing: border-box;
        border-radius: 10px;
    }
}
@media screen and (max-width: 850px){
    /*header nav{/*
       flex-direction: column;
       width: 100%;
       text-align: center;
       font-size: auto;
    }*/
    .container-xl{
        margin-top: 5rem;
    }
    header nav .checkbtn{
        display: block;
        cursor: pointer;
    }

    header nav .menu{
        position: fixed;
        width: 100%;
        height: 40px;
        top: 100px;
        bottom: 0;
        background: #ced7df; 
        width: 100%;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    header nav .menu .menu-item{
        display: block;
        gap: 0.7rem;
        margin: 50 px 0;
        line-height: 30px;
        &:hover{
            background: none;
            color: red;
        }
    }
    #check:checked ~ .menu{
        left: 0;
    }

    .h2, h2 {
        font-size: 12px;
    }
    header{
        width: 100% ;
    }
    .servicios-titulo{
        font-size: 12px;
    }
    .titulonosotros{
        font-size: 15px;
    }
    #nosotros{
        flex-direction: column;
        gap: 1rem;
        align-items: center;
    }
    #nosotros .nosotros-texto{
        font-size: 15px;
    }
    .sedes{
        width: 100%;
    }
    .sedes .box, .sedes .sedes-box1, .sedes .sedes-box2, .sedes .sedes-box3, .sedes .sedes-box4{
        width: 100%;
        padding: 2px;
        margin: 5px;
        box-sizing: border-box;
    }
    .sedes-box-titulos{
        font-size: 5px;
        color: brown;
    }
    .sede-titulo{
        display: flex;
        justify-content: center;
        font-size: 15px;
    }
    .sedes{
        font-size: 12px;
        width: 100%;
        gap: 9px;
    }
}

@media screen and (max-width: 500px) {
    footer{
        font-size: 15px;
    }
    .h2, h2 {
        font-size: 10px;
    }
    #Grid{
        display: grid;
        grid-template-areas: 
        "titulo"
        "img1"
        "texto1"
        "img2"
        "texto2";
    }
    .nota-titulo {
        grid-area: titulo;
        text-align: center;
        font-size: 30px;
        border-bottom: 2.5px solid brown;
        color: rgb(10, 10, 10);
    }
    .nota{
        grid-area: img1;
        box-sizing: border-box;
        width: 100%;
     }
    .nota2{
        grid-area: img2;   
        box-sizing: border-box; 
    }
    .nota-texto1{
        grid-area: texto1;
        box-sizing: border-box;
        padding-left: 15px;
        margin: 1rem;        
    }
    .nota-texto2{
        grid-area: texto2;
        font-size: 15px;
        box-sizing: border-box;
        padding-left: 15px;
        margin: 1rem;
    }
    .nota-imagen2{
        box-sizing: border-box;
        border: 3px solid black;
        padding: 4px;
        margin: 2px;
        width: 300px;
    }
    .nota-imagen{
        grid-area: nota-imagen;
        border: 3px solid black;
        box-sizing: border-box;
        padding: 4px;
        margin: 2px;
        width: 300px;
    }
    #tipsnutri .formularionutri .formularionutri-contenido {
        margin: auto;
        width: 250px;
        background-color: rgba(0, 0, 0, 0.4);
        justify-content: start;
        padding: 10px 20px;
        box-sizing: content-box;
        border-radius: 10px; }
        .formulario .formulario-contenido{
            width: 300px;
        }
    #tipsnutri .especialista .especialista-video{
        width: 250px;
        height: 250px;
    }
    .formulario .formulario-contenido .formulario-contenido-input{
        font-size: 10px;
    }
    .formulario .formulario-contenido .formulario-contenido-botones{
        font-size: 10px;
    }
}
