.titulonosotros{
    font-size: 25px;
    text-align: center;
    color: var(--titulo-color);
    border-bottom: 2px solid rgba(177, 175, 175, 0.856);
}
#nosotros{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 25px;
    margin: auto;
    position: relative;
    text-align: center;
    width: 100%;
    .nosotros-imagen{
        width: 45%;
        border: 2px solid black;
        text-align: left;
        padding: 4px;
    }
    .nosotros-texto{
        font-size: 25px;
        width: 45%;
        border: 2px hidden black;
        padding: 4px;
        color: var(--texto-color);
    }
}