.sedes{
    display: grid;
    grid-template-areas:    
    "godoycruz ciudad"
    "lujan maipu";
    font-size: 20px;
    text-align: center;
    .sedes-box1{
        grid-area: godoycruz;
        box-sizing: border-box;
        padding: 15px;
        margin: 1rem;
        border: 2px solid chocolate;
        &:hover{
            background-color: rgba(243, 94, 94, 0.719);
            padding: 3px 7px;
            border-radius: 7px;
            box-sizing: border-box;
        }
    }
    .sedes-box2{
        grid-area: ciudad;
        box-sizing: border-box;
        padding: 15px;
        margin: 1rem;
        border: 2px solid chocolate;
        &:hover{
            background-color: rgba(243, 94, 94, 0.719);
            padding: 3px 7px;
            border-radius: 7px;
            box-sizing: border-box;
        }
    }
    .sedes-box3{
        grid-area: lujan;
        box-sizing: border-box;
        padding: 15px;
        margin: 1rem;
        border: 2px solid chocolate;
        &:hover{
            background-color: rgba(243, 94, 94, 0.719);
            padding: 3px 7px;
            border-radius: 7px;
            box-sizing: border-box;
        }
    }
    .sedes-box4{
        grid-area: maipu;
        box-sizing: border-box;
        padding: 15px;
        margin: 1rem;
        border: 2px solid chocolate;
        &:hover{
            background-color: rgba(243, 94, 94, 0.719);
            padding: 3px 7px;
            border-radius: 7px;
            box-sizing: border-box;
        }
    }
    .sede-titulo{
        display: flex;
        justify-content: center;
        font-size: 25px;
        color: var(--titulo-color);
        border-bottom: 2px solid slategray;
    }
}