$estilos:(
    boxsaiz: border-box,
    padd: 15px,
    marg: 1rem,
    encuadro: 3px solid black,
);
#servicios-ofrecidos{
    width: 100%;
    font-size: 20px;
    display: grid;
    grid-template-areas:
    "crosfit gym"
    "funcional nutricion"
    "yoga personalizados";
    box-sizing:border-box;
    justify-content: space-around;
    .servicios-ofrecidos-1{
        grid-area: crosfit;
        box-sizing: map-get($estilos, boxsaiz);
        padding: map-get($estilos, padd);
        margin: map-get($estilos, marg);
        border: map-get($estilos, encuadro);
    }
    .servicios-ofrecidos-2{
        grid-area: gym;
        box-sizing: border-box;
        box-sizing: map-get($estilos, boxsaiz);
        padding: map-get($estilos, padd);
        margin: map-get($estilos, marg);
        border: map-get($estilos, encuadro);
    }
    .servicios-ofrecidos-3{
        grid-area: funcional;
        box-sizing: map-get($estilos, boxsaiz);
        padding: map-get($estilos, padd);
        margin: map-get($estilos, marg);
        border: map-get($estilos, encuadro);
    }
    .servicios-ofrecidos-4{
        grid-area: nutricion;
        box-sizing: map-get($estilos, boxsaiz);
        padding: map-get($estilos, padd);
        margin: map-get($estilos, marg);
        border: map-get($estilos, encuadro);
    }
    .servicios-ofrecidos-5{
        grid-area: yoga;
        box-sizing: map-get($estilos, boxsaiz);
        padding: map-get($estilos, padd);
        margin: map-get($estilos, marg);
        border: map-get($estilos, encuadro);
    }
    .servicios-ofrecidos-6{
        grid-area: personalizados;
        box-sizing: map-get($estilos, boxsaiz);
        padding: map-get($estilos, padd);
        margin: map-get($estilos, marg);
        border: map-get($estilos, encuadro);
    }
    .servicios-ofrecidos-titulo{
        text-align: center;
        font-size: 14px;
        color: var(--subtitulo-color);
        border-bottom: 2px solid brown;
    }
}
.servicios-titulo{
    display: flex;
    justify-content: center;
    color: var(--titulo-color);
    border-bottom: 2px solid brown;
    font-size: 30px;
}