*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    width: 100%;
}
a{
    text-decoration: none;
    color: black;
}
img{
    width: 100%;
}
textarea{
    min-height: 100px;
    max-height: 200px;
    max-width: 100%;
    min-width: 100%;
}