*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    width: 100%;
}
a{
    text-decoration: none;
    color: black;
}
textarea{
    min-height: 100px;
    max-height: 200px;
    max-width: 100%;
    min-width: 100%;
}
.container-xl {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-right: auto;
    margin-left: auto;
    margin-top: 2.5rem;
    margin-bottom: 1.5rem;
}
.h2, h2 {
    font-size: 20px;
}
body{
    display: grid;
    grid-auto-rows: auto 1fr auto;
    min-height: 100vh;
}