:root {
    /*colors*/
    --primary:  rgba(138, 135, 135, 0.24);
    --nav-color:  rgb(43, 42, 42);
    --titulo-color: crimson;
    --subtitulo-color: brown;
    --texto-color:   rgb(54, 53, 53);
    /*spacings*/
    --sapacing-large: 6rem;
    --sapacing-medium: 2.4rem;
    --sapacing-small: 2rem;
    /*font-sizes*/
    --text-large: 5.2em;
    --text-medium: 2.4em;
    --text-base: 1.6em;
    --text-small: 1.4em;
}